{
    "keyboard_language" : "ru-RU",

    "candidate_font": "Futura 11",
    "candidate_border": 5,
    "candidate_separation": 25,
    "candidate_height": 49,

    "keyboard_height": 303,
    "keyboard_x_gap": 4,
    "keyboard_y_gap": 5,

    "portrait_height": 352,
    "landscape_height": 352,

    "layouts": [
        {
            "comment": "no language, 123 for alpha",
            "type": 1,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "width": 106,
                    "label": "123!?",
                    "value": "!!123",
                    "x": 24,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "←",
                    "value": "\uFF51",
                    "x": 130,
                    "y": 222
                },
                {
                    "hold": 403,
                    "width": 284,
                    "label": "пробел",
                    "value": " ",
                    "x": 201,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "→",
                    "value": "\uFF53",
                    "x": 485,
                    "y": 222
                },
                {
                    "hold": 401,
                    "width": 71,
                    "label": ".",
                    "value": ".",
                    "x": 556,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 627,
                    "y": 222
                }
            ]
        },
        {
            "comment": "with language, 123 for alpha",
            "type": 2,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "width": 106,
                    "label": "123!?",
                    "value": "!!123",
                    "x": 24,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "file:///usr/share/keyboard/images/keyIntlEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyIntlArmed.png",
                    "value": "!!intl",
                    "x": 130,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "←",
                    "value": "\uFF51",
                    "x": 201,
                    "y": 222
                },
                {
                    "hold": 403,
                    "width": 213,
                    "label": "пробел",
                    "value": " ",
                    "x": 272,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "→",
                    "value": "\uFF53",
                    "x": 485,
                    "y": 222
                },
                {
                    "hold": 401,
                    "width": 71,
                    "label": ".",
                    "value": ".",
                    "x": 556,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 627,
                    "y": 222
                }
            ]
        },
        {
            "comment": "no language, abc for numeric",
            "type": 4,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "width": 106,
                    "label": "АБВ",
                    "value": "!!abc",
                    "x": 24,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "←",
                    "value": "\uFF51",
                    "x": 130,
                    "y": 222
                },
                {
                    "hold": 403,
                    "width": 284,
                    "label": "пробел",
                    "value": " ",
                    "x": 201,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "→",
                    "value": "\uFF53",
                    "x": 485,
                    "y": 222
                },
                {
                    "hold": 401,
                    "width": 71,
                    "label": ".",
                    "value": ".",
                    "x": 556,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 627,
                    "y": 222
                }
            ]
        },
        {
            "comment": "with language, abc for numeric",
            "type": 8,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "width": 106,
                    "label": "АБВ",
                    "value": "!!abc",
                    "x": 24,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "file:///usr/share/keyboard/images/keyIntlEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyIntlArmed.png",
                    "value": "!!intl",
                    "x": 130,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "←",
                    "value": "\uFF51",
                    "x": 201,
                    "y": 222
                },
                {
                    "hold": 403,
                    "width": 213,
                    "label": "пробел",
                    "value": " ",
                    "x": 272,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "→",
                    "value": "\uFF53",
                    "x": 485,
                    "y": 222
                },
                {
                    "hold": 401,
                    "width": 71,
                    "label": ".",
                    "value": ".",
                    "x": 556,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 627,
                    "y": 222
                }
            ]
        },
        {
            "comment": "lowercase, three rows for alpha",
            "type": 16,
            "width": 59,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "hold": 400,
                    "width": 60,
                    "label": "й",
                    "value": "й",
                    "x": 24,
                    "y": 9
                },
                {
                    "label": "ц",
                    "value": "ц",
                    "x": 84,
                    "y": 9
                },
                {
                    "hold": 9,
                    "label": "у",
                    "value": "у",
                    "x": 143,
                    "y": 9
                },
                {
                    "hold": 6,
                    "label": "к",
                    "value": "к",
                    "x": 202,
                    "y": 9
                },
                {
                    "hold": 3,
                    "label": "е",
                    "value": "е",
                    "x": 261,
                    "y": 9
                },
                {
                    "hold": 8,
                    "label": "н",
                    "value": "н",
                    "x": 320,
                    "y": 9
                },
                {
                    "hold": 2,
                    "label": "г",
                    "value": "г",
                    "x": 379,
                    "y": 9
                },
                {
                    "label": "ш",
                    "value": "ш",
                    "x": 438,
                    "y": 9
                },
                {
                    "label": "щ",
                    "value": "щ",
                    "x": 497,
                    "y": 9
                },
                {
                    "label": "з",
                    "value": "з",
                    "x": 556,
                    "y": 9
                },
                {
                    "label": "х",
                    "value": "х",
                    "x": 615,
                    "y": 9
                },
                {
                    "hold": 402,
                    "width": 60,
                    "label": "ъ",
                    "value": "ъ",
                    "x": 674,
                    "y": 9
                },
                {
                    "width": 60,
                    "label": "ф",
                    "value": "ф",
                    "x": 24,
                    "y": 80
                },
                {
                    "label": "ы",
                    "value": "ы",
                    "x": 84,
                    "y": 80
                },
                {
                    "label": "в",
                    "value": "в",
                    "x": 143,
                    "y": 80
                },
                {
                    "hold": 1,
                    "label": "а",
                    "value": "а",
                    "x": 202,
                    "y": 80
                },
                {
                    "label": "п",
                    "value": "п",
                    "x": 261,
                    "y": 80
                },
                {
                    "label": "р",
                    "value": "р",
                    "x": 320,
                    "y": 80
                },
                {
                    "label": "о",
                    "value": "о",
                    "x": 379,
                    "y": 80
                },
                {
                    "hold": 7,
                    "label": "л",
                    "value": "л",
                    "x": 438,
                    "y": 80
                },
                {
                    "label": "д",
                    "value": "д",
                    "x": 497,
                    "y": 80
                },
                {
                    "hold": 4,
                    "label": "ж",
                    "value": "ж",
                    "x": 556,
                    "y": 80
                },
                {
                    "hold": 11,
                    "label": "э",
                    "value": "э",
                    "x": 615,
                    "y": 80
                },
                {
                    "width": 60,
                    "label": "ё",
                    "value": "ё",
                    "x": 674,
                    "y": 80
                },
                {
                    "width": 89,
                    "label": "file:///usr/share/keyboard/images/keyShiftEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyShiftArmed.png",
                    "value": "!!shift",
                    "x": 24,
                    "y": 151
                },
                {
                    "label": "я",
                    "value": "я",
                    "x": 113,
                    "y": 151
                },
                {
                    "hold": 10,
                    "label": "ч",
                    "value": "ч",
                    "x": 172,
                    "y": 151
                },
                {
                    "label": "с",
                    "value": "с",
                    "x": 231,
                    "y": 151
                },
                {
                    "label": "м",
                    "value": "м",
                    "x": 290,
                    "y": 151
                },
                {
                    "hold": 5,
                    "label": "и",
                    "value": "и",
                    "x": 349,
                    "y": 151
                },
                {
                    "label": "т",
                    "value": "т",
                    "x": 408,
                    "y": 151
                },
                {
                    "label": "ь",
                    "value": "ь",
                    "x": 467,
                    "y": 151
                },
                {
                    "label": "б",
                    "value": "б",
                    "x": 526,
                    "y": 151
                },
                {
                    "label": "ю",
                    "value": "ю",
                    "x": 585,
                    "y": 151
                },
                {
                    "width": 90,
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 644,
                    "y": 151
                }
            ]
        },
        {
            "comment": "uppercase, three rows for alpha",
            "type": 96,
            "width": 59,
            "height": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "hold": 400,
                    "width": 60,
                    "label": "Й",
                    "value": "Й",
                    "x": 24,
                    "y": 9
                },
                {
                    "label": "Ц",
                    "value": "Ц",
                    "x": 84,
                    "y": 9
                },
                {
                    "hold": 109,
                    "label": "У",
                    "value": "У",
                    "x": 143,
                    "y": 9
                },
                {
                    "hold": 106,
                    "label": "К",
                    "value": "К",
                    "x": 202,
                    "y": 9
                },
                {
                    "hold": 103,
                    "label": "Е",
                    "value": "Е",
                    "x": 261,
                    "y": 9
                },
                {
                    "hold": 108,
                    "label": "Н",
                    "value": "Н",
                    "x": 320,
                    "y": 9
                },
                {
                    "hold": 102,
                    "label": "Г",
                    "value": "Г",
                    "x": 379,
                    "y": 9
                },
                {
                    "label": "Ш",
                    "value": "Ш",
                    "x": 438,
                    "y": 9
                },
                {
                    "label": "Щ",
                    "value": "Щ",
                    "x": 497,
                    "y": 9
                },
                {
                    "label": "З",
                    "value": "З",
                    "x": 556,
                    "y": 9
                },
                {
                    "label": "Х",
                    "value": "Х",
                    "x": 615,
                    "y": 9
                },
                {
                    "hold": 402,
                    "width": 60,
                    "label": "Ъ",
                    "value": "Ъ",
                    "x": 674,
                    "y": 9
                },
                {
                    "width": 60,
                    "label": "Ф",
                    "value": "Ф",
                    "x": 24,
                    "y": 80
                },
                {
                    "label": "Ы",
                    "value": "Ы",
                    "x": 84,
                    "y": 80
                },
                {
                    "label": "В",
                    "value": "В",
                    "x": 143,
                    "y": 80
                },
                {
                    "hold": 101,
                    "label": "А",
                    "value": "А",
                    "x": 202,
                    "y": 80
                },
                {
                    "label": "П",
                    "value": "П",
                    "x": 261,
                    "y": 80
                },
                {
                    "label": "Р",
                    "value": "Р",
                    "x": 320,
                    "y": 80
                },
                {
                    "label": "О",
                    "value": "О",
                    "x": 379,
                    "y": 80
                },
                {
                    "hold": 107,
                    "label": "Л",
                    "value": "Л",
                    "x": 438,
                    "y": 80
                },
                {
                    "label": "Д",
                    "value": "Д",
                    "x": 497,
                    "y": 80
                },
                {
                    "hold": 104,
                    "label": "Ж",
                    "value": "Ж",
                    "x": 556,
                    "y": 80
                },
                {
                    "hold": 111,
                    "label": "Э",
                    "value": "Э",
                    "x": 615,
                    "y": 80
                },
                {
                    "width": 60,
                    "label": "Ё",
                    "value": "Ё",
                    "x": 674,
                    "y": 80
                },
                {
                    "label": "Я",
                    "value": "Я",
                    "x": 113,
                    "y": 151
                },
                {
                    "hold": 110,
                    "label": "Ч",
                    "value": "Ч",
                    "x": 172,
                    "y": 151
                },
                {
                    "label": "С",
                    "value": "С",
                    "x": 231,
                    "y": 151
                },
                {
                    "label": "М",
                    "value": "М",
                    "x": 290,
                    "y": 151
                },
                {
                    "hold": 105,
                    "label": "И",
                    "value": "И",
                    "x": 349,
                    "y": 151
                },
                {
                    "label": "Т",
                    "value": "Т",
                    "x": 408,
                    "y": 151
                },
                {
                    "label": "Ь",
                    "value": "Ь",
                    "x": 467,
                    "y": 151
                },
                {
                    "label": "Б",
                    "value": "Б",
                    "x": 526,
                    "y": 151
                },
                {
                    "label": "Ю",
                    "value": "Ю",
                    "x": 585,
                    "y": 151
                },
                {
                    "width": 90,
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 644,
                    "y": 151
                },
                {
                    "modifier": 0,
                    "hold": 401,
                    "width": 71,
                    "label": ",",
                    "value": ",",
                    "x": 556,
                    "y": 222
                }
            ]
        },
        {
            "comment": "shift",
            "type": 32,
            "width": 89,
            "height": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "file:///usr/share/keyboard/images/keyShiftLockEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyShiftLockArmed.png",
                    "value": "!!shift",
                    "x": 24,
                    "y": 151
                }
            ]
        },
        {
            "comment": "shift lock",
            "type": 64,
            "width": 89,
            "height": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "file:///usr/share/keyboard/images/keyShiftLockedEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyShiftLockedArmed.png",
                    "value": "!!lower",
                    "x": 24,
                    "y": 151
                }
            ]
        },
        {
            "comment": "common numeric1, three rows",
            "type": 33554560,
            "width": 71,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "1",
                    "value": "1",
                    "x": 24,
                    "y": 9
                },
                {
                    "label": "2",
                    "value": "2",
                    "x": 95,
                    "y": 9
                },
                {
                    "label": "3",
                    "value": "3",
                    "x": 166,
                    "y": 9
                },
                {
                    "label": "4",
                    "value": "4",
                    "x": 237,
                    "y": 9
                },
                {
                    "label": "5",
                    "value": "5",
                    "x": 308,
                    "y": 9
                },
                {
                    "label": "6",
                    "value": "6",
                    "x": 379,
                    "y": 9
                },
                {
                    "label": "7",
                    "value": "7",
                    "x": 450,
                    "y": 9
                },
                {
                    "label": "8",
                    "value": "8",
                    "x": 521,
                    "y": 9
                },
                {
                    "label": "9",
                    "value": "9",
                    "x": 592,
                    "y": 9
                },
                {
                    "label": "0",
                    "value": "0",
                    "x": 663,
                    "y": 9
                },
                {
                    "label": "№",
                    "value": "№",
                    "x": 24,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "label": "$",
                    "value": "$",
                    "x": 95,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "label": "&",
                    "value": "&",
                    "x": 166,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "label": "(",
                    "value": "(",
                    "x": 237,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "label": ")",
                    "value": ")",
                    "x": 308,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "hold": 200,
                    "label": "\"",
                    "value": "\"",
                    "x": 379,
                    "y": 80
                },
                {
                    "label": "'",
                    "value": "'",
                    "x": 450,
                    "y": 80
                },
                {
                    "label": "-",
                    "value": "-",
                    "x": 521,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "label": "+",
                    "value": "+",
                    "x": 592,
                    "y": 80
                },
                {
                    "width": 106,
                    "label": "#~=",
                    "value": "!!next",
                    "x": 24,
                    "y": 151
                },
                {
                    "modifier": 1,
                    "hold": 201,
                    "label": "!",
                    "value": "!",
                    "x": 201,
                    "y": 151
                },
                {
                    "modifier": 1,
                    "hold": 202,
                    "label": "?",
                    "value": "?",
                    "x": 272,
                    "y": 151
                },
                {
                    "modifier": 1,
                    "label": ":",
                    "value": ":",
                    "x": 343,
                    "y": 151
                },
                {
                    "label": ";",
                    "value": ";",
                    "x": 414,
                    "y": 151
                },
                {
                    "label": ",",
                    "value": ",",
                    "x": 485,
                    "y": 151
                },
                {
                    "label": "…",
                    "value": "…",
                    "x": 556,
                    "y": 151
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 627,
                    "y": 151
                }
            ]
        },
        {
            "comment": "numeric1, three rows",
            "type": 128,
            "width": 71,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "modifier": 1,
                    "label": "@",
                    "value": "@",
                    "x": 130,
                    "y": 151
                },
                {
                    "label": "/",
                    "value": "/",
                    "x": 663,
                    "y": 80
                }
            ]
        },
        {
            "comment": "web numeric1, three rows",
            "type": 33554432,
            "width": 71,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "÷",
                    "value": "÷",
                    "x": 130,
                    "y": 151
                },
                {
                    "label": "×",
                    "value": "×",
                    "x": 663,
                    "y": 80
                }
            ]
        },
        {
            "comment": "common numeric2, three rows",
            "type": 67109120,
            "width": 71,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "modifier": 1,
                    "label": "#",
                    "value": "#",
                    "x": 24,
                    "y": 9
                },
                {
                    "modifier": 1,
                    "label": "%",
                    "value": "%",
                    "x": 95,
                    "y": 9
                },
                {
                    "modifier": 1,
                    "label": "~",
                    "value": "~",
                    "x": 166,
                    "y": 9
                },
                {
                    "modifier": 1,
                    "label": "^",
                    "value": "^",
                    "x": 237,
                    "y": 9
                },
                {
                    "label": "[",
                    "value": "[",
                    "x": 308,
                    "y": 9
                },
                {
                    "label": "]",
                    "value": "]",
                    "x": 379,
                    "y": 9
                },
                {
                    "modifier": 1,
                    "label": "{",
                    "value": "{",
                    "x": 450,
                    "y": 9
                },
                {
                    "modifier": 1,
                    "label": "}",
                    "value": "}",
                    "x": 521,
                    "y": 9
                },
                {
                    "modifier": 1,
                    "label": "|",
                    "value": "|",
                    "x": 592,
                    "y": 9
                },
                {
                    "label": "\\",
                    "value": "\\",
                    "x": 663,
                    "y": 9
                },
                {
                    "label": "·",
                    "value": "·",
                    "x": 24,
                    "y": 80
                },
                {
                    "label": "™",
                    "value": "™",
                    "x": 95,
                    "y": 80
                },
                {
                    "label": "¬",
                    "value": "¬",
                    "x": 166,
                    "y": 80
                },
                {
                    "label": "`",
                    "value": "`",
                    "x": 237,
                    "y": 80
                },
                {
                    "hold": 205,
                    "label": "<",
                    "value": "<",
                    "x": 308,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "hold": 204,
                    "label": ">",
                    "value": ">",
                    "x": 379,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "label": "_",
                    "value": "_",
                    "x": 450,
                    "y": 80
                },
                {
                    "label": "–",
                    "value": "–",
                    "x": 521,
                    "y": 80
                },
                {
                    "modifier": 1,
                    "hold": 203,
                    "label": "*",
                    "value": "*",
                    "x": 592,
                    "y": 80
                },
                {
                    "hold": 206,
                    "label": "=",
                    "value": "=",
                    "x": 663,
                    "y": 80
                },
                {
                    "width": 106,
                    "label": "123!?",
                    "value": "!!prev",
                    "x": 24,
                    "y": 151
                },
                {
                    "label": "©",
                    "value": "©",
                    "x": 130,
                    "y": 151
                },
                {
                    "label": "®",
                    "value": "®",
                    "x": 201,
                    "y": 151
                },
                {
                    "label": "§",
                    "value": "§",
                    "x": 272,
                    "y": 151
                },
                {
                    "label": "¢",
                    "value": "¢",
                    "x": 343,
                    "y": 151
                },
                {
                    "label": "¥",
                    "value": "¥",
                    "x": 414,
                    "y": 151
                },
                {
                    "label": "€",
                    "value": "€",
                    "x": 485,
                    "y": 151
                },
                {
                    "label": "£",
                    "value": "£",
                    "x": 556,
                    "y": 151
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 627,
                    "y": 151
                }
            ]
        },
        {
            "comment": "web, no language, 123 for alpha",
            "type": 512,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "width": 106,
                    "label": "123!?",
                    "value": "!!123",
                    "x": 24,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "←",
                    "value": "\uFF51",
                    "x": 130,
                    "y": 222
                },
                {
                    "width": 142,
                    "label": "\u2423",
                    "value": " ",
                    "x": 201,
                    "y": 222
                },
                {
                    "hold": 300,
                    "width": 142,
                    "label": ".ru",
                    "value": ".ru",
                    "x": 343,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "→",
                    "value": "\uFF53",
                    "x": 485,
                    "y": 222
                },
                {
                    "hold": 401,
                    "width": 71,
                    "label": ".",
                    "value": ".",
                    "x": 556,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 627,
                    "y": 222
                }
            ]
        },
        {
            "comment": "web, with language, 123 for alpha",
            "type": 1024,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "width": 106,
                    "label": "123!?",
                    "value": "!!123",
                    "x": 24,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "file:///usr/share/keyboard/images/keyIntlEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyIntlArmed.png",
                    "value": "!!intl",
                    "x": 130,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "←",
                    "value": "\uFF51",
                    "x": 201,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "\u2423",
                    "value": " ",
                    "x": 272,
                    "y": 222
                },
                {
                    "hold": 300,
                    "width": 106,
                    "label": ".ru",
                    "value": ".ru",
                    "x": 379,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "→",
                    "value": "\uFF53",
                    "x": 485,
                    "y": 222
                },
                {
                    "hold": 401,
                    "width": 71,
                    "label": ".",
                    "value": ".",
                    "x": 556,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 627,
                    "y": 222
                }
            ]
        },
        {
            "comment": "web, no language, abc for numeric",
            "type": 2048,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "width": 106,
                    "label": "АБВ",
                    "value": "!!abc",
                    "x": 24,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "←",
                    "value": "\uFF51",
                    "x": 130,
                    "y": 222
                },
                {
                    "width": 142,
                    "label": "\u2423",
                    "value": " ",
                    "x": 201,
                    "y": 222
                },
                {
                    "hold": 300,
                    "width": 142,
                    "label": ".ru",
                    "value": ".ru",
                    "x": 343,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "→",
                    "value": "\uFF53",
                    "x": 485,
                    "y": 222
                },
                {
                    "hold": 401,
                    "width": 71,
                    "label": ".",
                    "value": ".",
                    "x": 556,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 627,
                    "y": 222
                }
            ]
        },
        {
            "comment": "web, with language, abc for numeric",
            "type": 4096,
            "height": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "width": 106,
                    "label": "АБВ",
                    "value": "!!abc",
                    "x": 24,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "file:///usr/share/keyboard/images/keyIntlEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyIntlArmed.png",
                    "value": "!!intl",
                    "x": 130,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "←",
                    "value": "\uFF51",
                    "x": 201,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "\u2423",
                    "value": " ",
                    "x": 272,
                    "y": 222
                },
                {
                    "hold": 300,
                    "width": 106,
                    "label": ".ru",
                    "value": ".ru",
                    "x": 379,
                    "y": 222
                },
                {
                    "width": 71,
                    "label": "→",
                    "value": "\uFF53",
                    "x": 485,
                    "y": 222
                },
                {
                    "hold": 401,
                    "width": 71,
                    "label": ".",
                    "value": ".",
                    "x": 556,
                    "y": 222
                },
                {
                    "width": 107,
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 627,
                    "y": 222
                }
            ]
        },
        {
            "comment": "diacritical А lowercase",
            "type": 8192,
            "diacritical": 1,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "á",
                    "value": "á",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "æ",
                    "value": "æ",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Г lowercase",
            "type": 8192,
            "diacritical": 2,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "ґ",
                    "value": "ґ",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "ѓ",
                    "value": "ѓ",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Е lowercase",
            "type": 8192,
            "diacritical": 3,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "ё",
                    "value": "ё",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "é",
                    "value": "é",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Ж lowercase",
            "type": 8192,
            "diacritical": 4,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "џ",
                    "value": "џ",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "ђ",
                    "value": "ђ",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical И lowercase",
            "type": 8192,
            "diacritical": 5,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "і",
                    "value": "і",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "ї",
                    "value": "ї",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical К lowercase",
            "type": 8192,
            "diacritical": 6,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "ќ",
                    "value": "ќ",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Л lowercase",
            "type": 8192,
            "diacritical": 7,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "љ",
                    "value": "љ",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Н lowercase",
            "type": 8192,
            "diacritical": 8,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "њ",
                    "value": "њ",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical У lowercase",
            "type": 8192,
            "diacritical": 9,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "ý",
                    "value": "ý",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "ў",
                    "value": "ў",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Ч lowercase",
            "type": 8192,
            "diacritical": 10,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "ћ",
                    "value": "ћ",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Э lowercase",
            "type": 8192,
            "diacritical": 11,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "є",
                    "value": "є",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical А uppercase",
            "type": 8192,
            "diacritical": 101,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Á",
                    "value": "Á",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "Æ",
                    "value": "Æ",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Г uppercase",
            "type": 8192,
            "diacritical": 102,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Ґ",
                    "value": "Ґ",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "Ѓ",
                    "value": "Ѓ",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Е uppercase",
            "type": 8192,
            "diacritical": 103,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Ё",
                    "value": "Ё",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "É",
                    "value": "É",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Ж uppercase",
            "type": 8192,
            "diacritical": 104,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Џ",
                    "value": "Џ",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "Ђ",
                    "value": "Ђ",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical И uppercase",
            "type": 8192,
            "diacritical": 105,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "I",
                    "value": "I",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "Ї",
                    "value": "Ї",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical К uppercase",
            "type": 8192,
            "diacritical": 106,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Ќ",
                    "value": "Ќ",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Л uppercase",
            "type": 8192,
            "diacritical": 107,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Љ",
                    "value": "Љ",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Н uppercase",
            "type": 8192,
            "diacritical": 108,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Њ",
                    "value": "Њ",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical У uppercase",
            "type": 8192,
            "diacritical": 109,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Ў",
                    "value": "Ў",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Ч uppercase",
            "type": 8192,
            "diacritical": 110,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Ћ",
                    "value": "Ћ",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical Э uppercase",
            "type": 8192,
            "diacritical": 111,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "Є",
                    "value": "Є",
                    "x": 343,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical double quotes",
            "type": 8192,
            "diacritical": 200,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "«",
                    "value": "«",
                    "x": 237,
                    "y": -50
                },
                {
                    "label": "»",
                    "value": "»",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "„",
                    "value": "„",
                    "x": 379,
                    "y": -50
                },
                {
                    "label": "\"",
                    "value": "\"",
                    "x": 450,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical exclamation point",
            "type": 8192,
            "diacritical": 201,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "¡",
                    "value": "¡",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "!",
                    "value": "!",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical question mark",
            "type": 8192,
            "diacritical": 202,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "¿",
                    "value": "¿",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "?",
                    "value": "?",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical asterisk",
            "type": 8192,
            "diacritical": 203,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "·",
                    "value": "·",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "*",
                    "value": "*",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical greater than",
            "type": 8192,
            "diacritical": 204,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 1,
            "keys": [
                {
                    "label": "≥",
                    "value": "≥",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": ">",
                    "value": ">",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical less than",
            "type": 8192,
            "diacritical": 205,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "modifier": 1,
                    "label": "≤",
                    "value": "≤",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "<",
                    "value": "<",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical equals",
            "type": 8192,
            "diacritical": 206,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "modifier": 1,
                    "label": "≠",
                    "value": "≠",
                    "x": 308,
                    "y": -50
                },
                {
                    "label": "=",
                    "value": "=",
                    "x": 379,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical domain names",
            "type": 8192,
            "diacritical": 300,
            "height": 71,
            "width": 74,
            "font": "Futura 9",
            "modifier": 0,
            "keys": [
                {
                    "label": ".ua",
                    "value": ".ua",
                    "x": 24,
                    "y": -50
                },
                {
                    "label": ".by",
                    "value": ".by",
                    "x": 98,
                    "y": -50
                },
                {
                    "label": ".com",
                    "value": ".com",
                    "x": 172,
                    "y": -50
                },
                {
                    "label": ".org",
                    "value": ".org",
                    "x": 246,
                    "y": -50
                },
                {
                    "label": ".net",
                    "value": ".net",
                    "x": 320,
                    "y": -50
                },
                {
                    "label": ".edu",
                    "value": ".edu",
                    "x": 394,
                    "y": -50
                },
                {
                    "label": ".biz",
                    "value": ".biz",
                    "x": 468,
                    "y": -50
                },
                {
                    "label": ".gov",
                    "value": ".gov",
                    "x": 542,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "width": 59,
                    "label": "@",
                    "value": "@",
                    "x": 616,
                    "y": -50
                },
                {
                    "width": 59,
                    "label": "/",
                    "value": "/",
                    "x": 675,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical symbols",
            "type": 8192,
            "diacritical": 400,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "modifier": 1,
                    "label": "~",
                    "value": "~",
                    "x": 24,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "@",
                    "value": "@",
                    "x": 95,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "#",
                    "value": "#",
                    "x": 166,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "$",
                    "value": "$",
                    "x": 237,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "%",
                    "value": "%",
                    "x": 308,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "^",
                    "value": "^",
                    "x": 379,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "&",
                    "value": "&",
                    "x": 450,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "*",
                    "value": "*",
                    "x": 521,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "+",
                    "value": "+",
                    "x": 592,
                    "y": -50
                },
                {
                    "label": "=",
                    "value": "=",
                    "x": 663,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical punctuations",
            "type": 8192,
            "diacritical": 401,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": ".",
                    "value": ".",
                    "x": 24,
                    "y": -50
                },
                {
                    "label": ",",
                    "value": ",",
                    "x": 95,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": ":",
                    "value": ":",
                    "x": 166,
                    "y": -50
                },
                {
                    "label": ";",
                    "value": ";",
                    "x": 237,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "!",
                    "value": "!",
                    "x": 308,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "?",
                    "value": "?",
                    "x": 379,
                    "y": -50
                },
                {
                    "label": "-",
                    "value": "-",
                    "x": 450,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "_",
                    "value": "_",
                    "x": 521,
                    "y": -50
                },
                {
                    "label": "'",
                    "value": "'",
                    "x": 592,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "\"",
                    "value": "\"",
                    "x": 663,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical brackets and slashes",
            "type": 8192,
            "diacritical": 402,
            "height": 71,
            "width": 71,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "modifier": 1,
                    "label": "(",
                    "value": "(",
                    "x": 24,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": ")",
                    "value": ")",
                    "x": 95,
                    "y": -50
                },
                {
                    "label": "[",
                    "value": "[",
                    "x": 166,
                    "y": -50
                },
                {
                    "label": "]",
                    "value": "]",
                    "x": 237,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "{",
                    "value": "{",
                    "x": 308,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": "}",
                    "value": "}",
                    "x": 379,
                    "y": -50
                },
                {
                    "label": "<",
                    "value": "<",
                    "x": 450,
                    "y": -50
                },
                {
                    "modifier": 1,
                    "label": ">",
                    "value": ">",
                    "x": 521,
                    "y": -50
                },
                {
                    "label": "/",
                    "value": "/",
                    "x": 592,
                    "y": -50
                },
                {
                    "label": "\\",
                    "value": "\\",
                    "x": 663,
                    "y": -50
                }
            ]
        },
        {
            "comment": "diacritical commands",
            "type": 8192,
            "diacritical": 403,
            "height": 71,
            "width": 82,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": ";un",
                    "value": ";un",
                    "x": 338,
                    "y": -50
                }
            ]
        },
        {
            "comment": "keypad",
            "type": 16384,
            "height": 71,
            "width": 139,
            "font": "Futura 11",
            "modifier": 0,
            "keys": [
                {
                    "label": "1",
                    "value": "1",
                    "x": 166,
                    "y": 9
                },
                {
                    "label": "2",
                    "value": "2",
                    "x": 308,
                    "y": 9
                },
                {
                    "label": "3",
                    "value": "3",
                    "x": 450,
                    "y": 9
                },
                {
                    "label": "4",
                    "value": "4",
                    "x": 166,
                    "y": 80
                },
                {
                    "label": "5",
                    "value": "5",
                    "x": 308,
                    "y": 80
                },
                {
                    "label": "6",
                    "value": "6",
                    "x": 450,
                    "y": 80
                },
                {
                    "label": "7",
                    "value": "7",
                    "x": 166,
                    "y": 151
                },
                {
                    "label": "8",
                    "value": "8",
                    "x": 308,
                    "y": 151
                },
                {
                    "label": "9",
                    "value": "9",
                    "x": 450,
                    "y": 151
                },
                {
                    "label": "file:///usr/share/keyboard/images/keyDeleteEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyDeleteArmed.png",
                    "value": "!!back",
                    "x": 166,
                    "y": 222
                },
                {
                    "label": "0",
                    "value": "0",
                    "x": 308,
                    "y": 222
                },
                {
                    "label": "file:///usr/share/keyboard/images/keyReturnEnabled.png",
                    "press": "file:///usr/share/keyboard/images/keyReturnArmed.png",
                    "value": "\uFF0D",
                    "x": 450,
                    "y": 222
                }
            ]
        }
    ]
}
